{% extends 'base.html' %}

{% block head %}
<title>Admin page</title>
{% endblock %}
    
{% block body %} 
<p>You have logged in as Admin.</p>
<center>
<div class="row">
    <div class="col-lg-6">
        <img src="static/adrPerday.jpg" alt="" height="300px" width="400px">
    </div>
    <div class="col-lg-6">
        <img src="static/nightStayed.jpg" alt="" height="300px" width="400px">
    </div>
</div>
<br>
<div class="row">   
    <div class="col-lg-6">
        <img src="static/cancellation.jpg" alt="" height="300px" width="400px">
    </div>
    <div class="col-lg-6">
        <img src="static/customers.jpg" alt="" height="300px" width="400px">
    </div>
</div> 
<br> 
<div class="row">
    <div class="col-lg-12">
        <img src="static/adrPerMonth.jpg" alt="" height="300px" width="400px">
    </div>
</div> 
</center>
{% endblock %}