{% extends 'base.html' %}

{% block head %}
<title>Admin page</title>
{% endblock %}
    
{% block body %} 
<p>You have logged in as Admin.</p>
<center>
<div class="row">
    <div class="col-lg-6">
        <img src="static/adrPerday.jpg" alt="" height="300px" width="400px">
        <p><strong> ADR is max on friday </strong> </p>
    </div>
    <div class="col-lg-6">
        <img src="static/nightStayed.jpg" alt="" height="300px" width="400px">
        <p><strong>Number of people staying at weekday nights are more than that of weekend nights </strong> </p>
    </div>
</div>
<br>
<div class="row">   
    <div class="col-lg-6">
        <img src="static/cancellation.jpg" alt="" height="300px" width="400px">
        <p><strong> Most bookings were in city hotel
            Cancelations in Resort hotel is less compared to city hotel </strong> </p>
    </div>
    <div class="col-lg-6">
        <img src="static/customers.jpg" alt="" height="300px" width="400px">
        <p> <strong> The number of transient type of customer is maximum </strong> </p>
    </div>
</div> 
<br> 
<div class="row">
    <div class="col-lg-6">
        <img src="static/adrPerMonth.jpg" alt="" height="300px" width="400px">
        <p> <strong>For Resort Hotel, ADR is more expensive during July, August & September and for City Hotel, ADR is slightly more during August, June & May. </strong> </p>
    </div>
    <div class="col-lg-6">
        <img src="static/cancellationsPerWeek.jpg" alt="" height="300px" width="400px">
        <p><strong> Percentage of cancellations that are within a week of arrival:  11.94 % </strong> </p>
    </div>
</div> 
<br> 
</center>
{% endblock %}