{% extends 'base.html' %}

{% block head %}

<title>Hotel Royale</title>
<!--meta tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords"
	content="Hotel zone Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script>
	addEventListener("load", function () {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar() {
		window.scrollTo(0, 1);
	}
</script>
<script src="index.js"></script>


{% endblock %}

{% block body %}
{% if session['username'] %}

{% else %}

<!--// rooms & rates -->
{% endif %}
<div class="slider">
	<div class="callbacks_container">


		<div class="slider-img1">
			<div class="dot">
				<div class="container">
					<div class="slider_banner_info_w3ls">
						<h1 class="text-uppercase mb-3">Enjoy the greatest pleasure in our hotel </h1>
						<br><br><br><br>
						<a href="/chat" class="chatButton" style="font-size: 3.5rem; color:rgb(34, 168, 178);"><i class="fas fa-comments"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

	</div>

	<!-- ROOMS AND RATES -->
{% if session['username'] %}
	<div class="plans-section py-5" id="rooms">
		<div class="container py-md-3">
			<div class="w3-head-all mb-3">
				<h2>
					<center>Rooms And Status</center>
				</h2>
			</div>
			<div class="priceing-table-main">
				<br>
				<h3>
					<center>Single AC</center>
				</h3>
				<br>
				<div class="row">
					{% for i in sac%}
					<div class="col-lg-3 col-md-6 col-sm-6 price-grid">
						<div class="price-block agile">
							<div class="price-gd-top">
								<!-- <img src="/static/r1.jpg" alt=" " class="img-responsive img-fluid" /> -->
								<h4>{{i['room_no']}}</h4>
							</div>
							<div class="price-gd-bottom">
								
								<div class="price-selet">
									{%if i['status']==0%}
									<p class="card-text">Room Status: Available</p>
									<a href="#appointment" class="scroll" onclick=book_appointment("{{i['room_no']}}","single_ac")>Book Now</a>
									{%else%}
									<p class="card-text">Room Status: Not Available</p>
									<!-- <button disabled>Book Now</button> -->
									<a type="button" disabled>Book Now</a>
									{%endif%}
									
								</div>
							</div>
						</div>
					</div>
					{%endfor%}
				</div>

				<br>
				<h3>
					<center>Single NON-AC</center>
				</h3>
				<br>
				<div class="row">
					{% for i in snac%}
					<div class="col-lg-3 col-md-6 col-sm-6 price-grid">
						<div class="price-block agile">
							<div class="price-gd-top">
								<!-- <img src="/static/r1.jpg" alt=" " class="img-responsive img-fluid" /> -->
								<h4>{{i['room_no']}}</h4>
							</div>
							<div class="price-gd-bottom">
							
								<div class="price-selet">
									{%if i['status']==0%}
									<p class="card-text">Room Status: Available</p>
									<a href="#appointment" class="scroll" onclick=book_appointment("{{i['room_no']}}","single_non_ac")>Book Now</a>
									{%else%}
									<p class="card-text">Room Status: Not Available</p>
									<a type="button" disabled>Book Now</a>
									{%endif%}
								</div>
							</div>
						</div>
					</div>
					{%endfor%}
				</div>


				<br>
				<h3>
					<center>Double AC</center>
				</h3>
				<br>
				<div class="row">
					{% for i in dac%}
					<div class="col-lg-3 col-md-6 col-sm-6 price-grid">
						<div class="price-block agile">
							<div class="price-gd-top">
								<!-- <img src="/static/r1.jpg" alt=" " class="img-responsive img-fluid" /> -->
								<h4>{{i['room_no']}}</h4>
							</div>
							<div class="price-gd-bottom">
								
								<div class="price-selet">
									{%if i['status']==0%}
									<p class="card-text">Room Status: Available</p>
									<a href="#appointment" class="scroll" onclick=book_appointment("{{i['room_no']}}","double_ac")>Book Now</a>
									{%else%}
									<p class="card-text">Room Status: Not Available</p>
									<a type="button" disabled>Book Now</a>
									{%endif%}
								</div>
							</div>
						</div>
					</div>
					{%endfor%}
				</div>
				<br>
				<h3>
					<center>Double NON-AC</center>
				</h3>
				<br>
				<div class="row">
					{% for i in dnac%}
					<div class="col-lg-3 col-md-6 col-sm-6 price-grid">
						<div class="price-block agile">
							<div class="price-gd-top">
								<!-- <img src="/static/r1.jpg" alt=" " class="img-responsive img-fluid" /> -->
								<h4>{{i['room_no']}}</h4>
							</div>
							<div class="price-gd-bottom">
							
								<div class="price-selet">
									{%if i['status']==0%}
									<p class="card-text">Room Status: Available</p>
									<a href="#appointment" class="scroll" onclick=book_appointment("{{i['room_no']}}","Double_non_ac")>Book Now</a>
									{%else%}
									<p class="card-text">Room Status: Not Available</p>
									<a type="button" disabled>Book Now</a>
									{%endif%}

								</div>
							</div>
						</div>
					</div>
					{%endfor%}
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<hr>
	<section id=appointment>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<form action="/book" method="post">
					<div class="form-group">
						<center><h1 class="booking-details-title">BOOKING DETAILS</h1></center>
						<br> 
						<label for="name">Room No:</label>

						<input type="text" class="form-control" name="room_no" id="output" value="">
					</div>
					<div class="form-group">
						<label for="email">Room Type:</label>
						<input type="text" class="form-control" id="output1" name="room_type" value="">
					</div>
					<div class="form-group">
						<label for="email">Holder Name:</label>
						<input type="text" class="form-control" name="holder_name" required="">
					</div>
					<div class="form-group">
						<label for="email">Holder Mobile:</label>
						<input type="text" class="form-control" name="holder_mobile" required="">
					</div>
					<div class="form-group">
						<label for="email">Holder Address:</label>
						<textarea rows="3" cols="40" class="form-control" name="holder_address"></textarea>
					</div>
					<div class="form-group">
						<label>No of Child:</label>
						<select class="form-control" name="child_no">
							<option>-Select-</option>
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>
					<div class="form-group">
						<label for="select_adult">No of Adult:</label>
						<select class="form-control" id="select_adult" name="adult_no">
							<option>-Select-</option>
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
					<div class="form-group">
						<label for="email">Check-In Date:</label>
						<input type="date" class="form-control" name="check_in_date" required="">
					</div>
					<div class="form-group">
						<label for="email">Check-Out Date:</label>
						<input type="date" class="form-control" name="check_out_date" required="">
					</div>
					<br><br>
					<center><button type="submit" name="book_room" class="btn btn-warning" onclick='alert("Booked successfully");'>Book Now</button></center>
				<br><br>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</section>

	{%endif%}

	<!-- Footer -->
	<hr>
    <footer id="footer">
		<i class="social-icon fab fa-facebook"> <a href=""></a> </i>
		<i class="social-icon fab fa-twitter"></i>
		<i class="social-icon fab fa-instagram"></i>
		<i class="social-icon fas fa-envelope"></i>
		<p>© Copyright 2020 The Royale</p>
	  </footer>
	</body>
  </html>
	

	<script>
		function book_appointment(room_clicked,typeOfRoom){
			let input=document.getElementById("output")
			input.value=room_clicked
			let input1=document.getElementById("output1")
			input1.value=typeOfRoom
		}
	</script>
	{% endblock %}