{% extends 'base.html' %}

{% block head %}

<title>Register</title>
{% endblock %}

{% block body %} 
<img src="static/ser2.jpg" height="100%" width="100%">
<form action="/register" method="POST">
  
  <div class="register-card">
    <div class="registration-details">
  
      <h1 class="register-title">REGISTER HERE</h1>
     
      <hr>
      
      <label ><b>Name</b></label>
      <input class="register-page-textbox" type="text" placeholder="Enter Name" name="username" id="username" required>
      <br>

      <label><b>Contact</b></label>
      <input class="register-page-textbox" type="text" placeholder="Enter Contact" name="contact" id="contact" required>
      <br>

      <label ><b>Email</b></label>
      <input class="register-page-textbox" type="text" placeholder="Enter Email" name="email" id="email" required>
      <br>
  
      <label><b>Password</b></label>
      <input class="register-page-textbox" type="password" placeholder="Enter Password" name="password" id="password" required>
      <br>
  
      <!--label for="psw-repeat"><b>Confirm Password</b></!--label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
      <br-->
      <hr>
  
        
        <button type="submit" class="register-btn-register-page btn btn-light sign-up-button" onclick = "alertbox()">Register</button>

    </div>
  
    <div class="container-signin">
      <p>Already have an account? <a href="/login">Sign in</a>.</p>
    </div>
  
    
  </form>
</div>
</div>

{% endblock %}